name: caller debug 4
on:
  pull_request:
    types: ['opened', 'synchronize', 'closed']

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  provision_resources:
    uses: zepouet/reusable-debug/.github/workflows/flow.yml@v1
